.p-0 {
  padding: 0;
}

.pb-30 {
  padding-bottom: 30px;
}
.pb-75 {
  padding-bottom: 75px;
  @media (max-width: 991px) {
    padding-bottom: 50px;
  }
  @media (max-width: 575px) {
    padding-bottom: 30px;
  }
}
.pt-80 {
  padding-top: 80px;
  @media (max-width: 991px) {
    padding-top: 50px;
  }
  @media (max-width: 575px) {
    padding-top: 30px;
  }
}

.p-90 {
  padding: 90px 0;
  @media (max-width: 991px) {
    padding: 50px 0;
  }
  @media (max-width: 575px) {
    padding: 30px 0;
  }
}

.pb-100 {
  padding-bottom: 100px;
  @media (max-width: 991px) {
    padding-bottom: 50px;
  }
  @media (max-width: 575px) {
    padding-bottom: 30px;
  }
}

.pt-110 {
  padding-top: 110px;
}