.section {
  position: relative;
}

.section__wrap {
  position: relative;
}

.section__bg {
  position: absolute;
  top: 0;
  width: 40%;
  height: 100%;
  z-index: -1;
}

.section__bg--left {
  left: 0;
  border-radius: 0 40px 40px 0;
  @media (max-width: 767px) {
    width: 100%;
    border-radius: 0;
  }
}

.section__bg--full {
  border-radius: 40px;
  left: 0;
  width: 100%;
}

.section__bg--pink {
  background-color: #FCF3EC;
}

.section__bg--light-blue {
  background-color: #F0F9FE;
}
