.text-box {
  @media (max-width: 1199px) {
    margin: 15px 0;
  }
  @media (max-width: 767px) {
    margin: 20px 0;
  }
  .text-box__title {
    position: relative;
    padding-left: 40px;
  }
  .text-box--wrap {
    display: flex;
    align-items: center;
  }
  .text-box__content {
    margin-top: 25px;
    padding-left: 40px;
  }
  .circle {
    width: 79px;
    height: 79px;
    border-radius: 50%;
    position: absolute;
    &.pink {
      background-color: #FBE9E9;
    }
    &.mint {
      background-color: #E7FAF9;
    }
    &.purple {
      background-color: #F5ECFD;
    }
    &.blue {
      background-color: #E7EFFB;
    }
  }
}